.home-basket {
  width: 320px;
  height: auto;
  text-align: center;
}
.home-basket-tablet {
  width: 40%;
}

.home-basket-tablet-footer {
  width: 40%;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -20%;
  margin-bottom: -30px;
}