.alert-success {
  background-color: $green;
  border-color: none;
  color: #ffffff;
  border-radius: 0;
  border: none;
}

.alert-danger {
  background-color: $pink;
  border-color: none;
  color: #ffffff;
  border-radius: 0;
  border: none;
}