.panel {
  margin-left: 0;
  margin-right: 0;
  background-color: #F5F5F5;
  border: none;
  border-top: 8px $green solid;
  border-radius: 0;
  box-shadow: none;
  padding: 60px 120px;
  position: relative;
  h1 {
    color: $green;
  }
}

.panel-icon {
  width: 180px;
  position: absolute;
  left: 0;
  margin-left: -90px;
}

.panel-icon-right {
  width: 180px;
  position: absolute;
  right: 0;
  margin-right: -90px;
}

.panel-default {
  border-top: 8px $green solid;
  h1 {
    color: $green;
  }
}

.panel-success {
  border-top: 8px $green solid;
  h1 {
    color: $green;
  }
}

.panel-primary {
  border-top: 8px $blue solid;
  h1 {
    color: $blue;
  }
}

.panel-warning {
  border-top: 8px $orange solid;
  h1 {
    color: $orange;
  }
}

.panel-danger {
  border-top: 8px $pink solid;
  h1 {
    color: $pink;
  }
}

.panel-turquoise {
  border-top: 8px $turquoise solid;
  h1 {
    color: $turquoise;
  }
}

.panel-yellow {
  border-top: 8px $yellow solid;
  h1 {
    color: $yellow;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .panel {
    margin-top: 60px;
    text-align: center;
    h1 {
      margin-top: 85px;
    }
  }
  .panel-icon, .panel-icon-right {
    position: absolute;
    top: 0;
    left: 50%;
    margin-top: -80px;
    width: 160px;
    height: auto;
    z-index: 2999;
    margin-left: -80px;
  }
}

@media (max-width: 767px) {
  .panel-icon, .panel-icon-right {
    width: 100px;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: 0;
    margin-top: -50px;
  }
  .panel {
    h1 {
      text-align: center;
      font-size: 30px;
    }
    padding: 48px 18px;
    margin-top: 50px;
  }
}

