.header-logo {
  position: absolute;
  z-index: 1040;
  bottom: 0;
  img {
    height: 148px;
    width: auto;
  }
}

.header-logo-fixed {
  position: fixed;
  top: 0;
  img {
    height: 74px;
    width: auto;
  }
}