.footer-cities {
  position: relative;
  width: 100%;
  margin-top: 300px;
}

.footer-city {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 4;
}

.footer-hill {
  position: absolute;
  width: 100%;
  bottom: 0;
  bottom: -1px;
  z-index: 5;
}

.footer-grass {
  width: 100%;
  background-color: #52863D;
  height: 50px;
}

@media(min-width: 768px) and (max-width: 992px) {
  .footer-cities {
    margin-top: 150px;
  }
}

@media(max-width: 767px) {
  .footer-cities {
    margin-top: 125px;
  }
  .footer-city {
    //
  }
}